
@{
    ViewBag.Title = "BothNews";
}

<h2>BothNews</h2>

<!-- aller sur les sites notEs
    rapporter les infos de ces sites avec l'aide des codes sources
    traduire en anglais pour la verson anglaise
    et en tur-que pour celle turque
    utiliser directement le html et meme sil le faut des "id" utiles pour le style.css

http://www.turkeyafricaforum.org/turkiye-afrika/genel-bakis/

https://www.haberler.com/turkiye-afrika-1-tarim-bakanlari-toplantisi-9549827-haberi/

    -->
