
@{
    ViewBag.Title = "TurkishNews";
}

<h2>TurkishNews</h2>

<!-- aller sur les sites notEs
    rapporter les infos de ces sites avec l'aide des codes sources
    traduire en anglais pour la verson anglaise
    et en tur-que pour celle turque
    utiliser directement le html et meme sil le faut des "id" utiles pour le style.css

    https://www.dailysabah.com/economy/2017/08/17/turkish-russian-economic-ties-to-strengthen-at-izmir-intl-fair

    https://www.dailysabah.com/economy/2017/08/17/turkey-ratifies-free-trade-agreement-with-singapore

    https://english.aawsat.com/saeed-abdelrazek/business/turkey-ranked-third-economic-growth-among-g20

    https://www.dailysabah.com/economy/2017/08/19/economy-minister-turkey-eyes-eurasian-customs-union

    http://www.hurriyetdailynews.com/turkish-businesses-and-the-referendum-in-northern-iraq.aspx?pageID=449&nID=116974&NewsCatID=517

    -->
