@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 style="font:bold 50px algerian;text-align:center">TÜRAFRİK</h1>
    <p class="lead">Welcome to the international Website that connect Turkey to Africa for everything about business, economy and development!</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-3">
        <h2>Economic News</h2>
        <p>
            Here you are going to find all the news about the economy and business in Turkey, 
            in Africa and about their relationships
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>African Countries Economy</h2>
        <p>You will get here the economic news about the African union, its countries and and the actual projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2> Turkish Economy</h2>
        <p>You can easily find here the latest news about the Turkish economy, its reforms and more.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>



    <div class="col-md-3">
        <h2>Shop from Africa To Turkey</h2>
        <p>
            Would you like to buy something from Africa? A clothe? A food? whatever it is! We can help you! 
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Shop from Turkey to Africa</h2>
        <p>            Would you like to buy something from Turkey? A clothe? A food? whatever it is! We can help you!</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2> Find the Cargo Companies</h2>
        <p>We arre here to help you for shipping your products from turkey to Africa or in the opposite sens.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>İnternational Tourism</h2>
        <p>Are you a fan of tourism? touristic places? Do you want to discover the extraordinarily beautiful touristic places?
        If yes, you are welcome here</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>

    <div class="col-md-3">
        <h2>Investment Opportunities Turkey/Africa</h2>
        <p>You can easily find here oppportunities to build a big market, to find many partners, or even to be the special representant of a great brand in your country.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>