
@{
    ViewBag.Title = "AfricanTourism";
}

<h2>AfricanTourism</h2>

<!-- aller sur les sites notEs
    rapporter les infos de ces sites avec l'aide des codes sources
    traduire en anglais pour la verson anglaise
    et en tur-que pour celle turque
    utiliser directement le html et meme sil le faut des "id" utiles pour le style.css

    //gooogle:: les meilleurs endroits touristiques a visiter en afrique ave maria, monument senegalais

    https://www.africa.com/africas-top-10-travel-destinations/
    http://venturesafrica.com/top-ten-tourism-destination-in-africa/

SUİVRE LE MEME WAY QUE CELUİ DE TURKİSH TOURİZM AVEC LES LANGUES 
    -->



