@model TurAfrikb.Models.language
@{
    ViewBag.Title = "TurkishTourism";
}

<h2>TurkishTourism</h2>
<!-- aller sur les sites notEs
    rapporter les infos de ces sites avec l'aide des codes sources
    traduire en anglais pour la verson anglaise
    et en tur-que pour celle turque
    utiliser directement le html et meme sil le faut des "id" utiles pour le style.css

    wikipedia turkey tourizm var in every language,,,
    other site on the net

    actu:::sites guncels de tourism turq

    //gooogle:: les meilleurs endroits touristiques a visiter en turquie//reserves naturelles ,religieuses historiq efes konya
    http://www.hurriyetdailynews.com/turkish-tourism-sector-praises-extension-of-eid-al-adha-public-holiday-.aspx?pageID=238&nID=116819&NewsCatID=349

-->


@{
   
    if (Model.type == "Eng")
    {
        
        <h2>TOURİSM IN TURKEY</h2>

        <p class="ecrit">
            Tourism in Turkey is focused largely on a variety of historical sites, and on seaside resorts along its Aegean and Mediterranean Sea coasts. Turkey has also become a popular destination for culture, spa, and health care tourism.

            At its height in 2014, Turkey attracted around 42 million foreign tourists, ranking as the 6th most popular tourist destination in

            the world. This number however declined to around 36 million in 2015, deteriorated to around 25 million in 2016 and still further in

            2017,due to the 2016–17 purges in Turkey, regional uncertanities, political tensions with Russia, terrorist attacks and the

            unfavorable Erdogan regime image abroad.
        </p>

        
            <h3>Istanbul</h3>


                <p class="ecrit">
                    Istanbul is one of the most important tourism spots not only in Turkey but also in the world. There are thousands of hotels and other

                    tourist-oriented industries in the city, catering to both vacationers and visiting professionals. Turkey's largest city, Istanbul,

                    has a number of major attractions derived from its historical status as capital of the Byzantine and Ottoman Empires. These include

                    the Sultan Ahmed Mosque (the "Blue Mosque"), the Hagia Sophia, the Topkapı Palace, the Basilica Cistern, the Dolmabahçe Palace, the

                    Galata Tower, the Grand Bazaar, the Spice Bazaar, and the Pera Palace Hotel. Istanbul has also recently become one of the biggest

                    shopping centers of the European region by hosting malls and shopping centers, such as Metrocity, Akmerkez and Cevahir Mall, which is

                    the biggest mall in Europe and seventh largest shopping center in the world. Other attractions include sporting events, museums, and

                    cultural events.
                    In January 2013, the Turkish government announced that it will build the world's largest airport in Istanbul. The operation has an

                    invested 7 billion euros and will have its first part of a four-part plan completed by 2017.
                    As a consequence of the continuous fall in tourism to Turkey in recent years, as of October 2016 in Istanbul's famous bazaar once

                    crowded shopping streets are almost empty, "the streams of tourists who used to visit the market each day have trickled to a halt."

                    The number of foreign tourists visiting Istanbul declined to 9.2 million in 2016, a 26 percent decrease compared to 2015.
                </p>

                <h3>Other destinations</h3>
                    <p class="ecrit">
                            Beach vacations and Blue Cruises, particularly for Turkish delights and visitors from Western Europe, are also central to the Turkish

                            tourism industry. Most beach resorts are located along the southwestern and southern coast, called the Turkish Riviera, especially

                            along the Mediterranean coast near Antalya. Antalya is also accepted as the tourism capital of Turkey.[10] Major resort towns include

                            Bodrum, Fethiye, Marmaris, Kuşadası, Çeşme, Didim and Alanya. Also Turkey has been chosen second in the world in 2015 with its 436

                            blue-flagged beaches, according to the Chamber of Shipping.
                            Lots of cultural attractions elsewhere in the country include the sites of Ephesus, Troy, Pergamon, House of the Virgin Mary,

                            Pamukkale, Hierapolis, Trabzon (where one of the oldest monasteries is the Sümela Monastery), Konya (where the poet Rumi had spent

                            most of his life), Didyma, Church of Antioch, ancient pontic capital and king rock tombs with its acropolis in Amasya, religious

                            places in Mardin (such as Deyrülzafarân Monastery), and the ruined cities and landscapes of Cappadocia.
                            Diyarbakır is also an important historic city, although tourism is on a relatively small level due to waning armed conflicts.
                            Ankara has an historic old town, and although it is not exactly a tourist city, is usually a stop for travelers who go to Cappadocia.

                            The city enjoys an excellent cultural life too, and has several museums. The Anıtkabir is also in Ankara. It is the mausoleum of

                            Atatürk, the founder of the Republic of Turkey.
                            Gallipoli and Anzac Cove - a small cove on the Gallipoli peninsula, which became known as the site of World War I landing of the

                            ANZAC (Australian and New Zealand Army Corps) on 25 April 1915. Following the landing at Anzac Cove, the beach became the main base

                            for the Australian and New Zealand troops for the eight months of the Gallipoli campaign.
                        </p>







    }
    else
    {

        <h3>Türkiye'de turizm</h3>


        <p class="ecrit">
            Türkiye'de turizm, Ege ve Akdeniz kıyılarındaki arkeolojik ve tarihi alanlar üzerine yoğunlaşmıştır.

            Türkiye'nin en büyük şehri olan İstanbul, Bizans ve Osmanlı İmparatorluğu'nun başkenti olması dolayısıyla da antik döneme sahip

            birçok yapıyı barındırmaktadır. Sultanahmet Camisi, Ayasofya ve Topkapı Sarayı bunlardan birkaçıdır.

            Diğer önemli turizm alanları; Roma İmparatorluğu döneminden kalan Efes, Truva, Bergama,Side, Meryem Ana Evi'nin yanı sıra

            Kapadokya, Nemrut ve Pamukkale bölgeleridir.

            Plaj bölgeleri, genellikle Türkiye'nin çeşitli şehirlerinde yaşayan insanlar ve Batı Avrupa'dan gelen turistler için önemli bir

            turizm alanıdır. En önemli plajlar, Ege kıyılarından başlar ve Akdeniz'de Antalya yakınlarında son bulur. Bodrum, Fethiye,

            Marmaris, Kuşadası, Alanya önemli tatil yöreleridir. Üç tarafı denizlerle çevrili olan Türkiye'de turistik bölge sadece Çeşme -

            Alanya hattında sıkışıp kalmıştır.
        </p>

        <h3>Turizmin gelişmesi</h3>


               <p class="ecrit"> Anadolu toprakları ilk çağlardan itibaren gezginlerin önemli rotalarındandır. İlk ve orta çağda dini mekanlar ve termal kaynaklar

                ile ilgi çekmiştir. Selçuklular döneminde ticaret yolcuları Anadolu'da seyahatleri canlı tutmuştur. Osmanlılarda bu toprakların

gerçek manada ilk turizm hareketi gerçekleşmiştir. 1863 yılında açılan Sergi - i Osmani etkinliğine Avrupa'dan özellikle

Avusturya'dan turistler gelmiştir. Aynı yıllarda İstanbul'dan da yurt dışına turistler gitmeye başlamıştır[1].

1870 yılında Şark demiryolları İstanbul'u Paris'e bağlaması ile İlk otel(Pera Palas) açılmıştır(1890).Cumhuriyetin ilanından

sonra daha sonra adı Türkiye Turing ve Otomobil Kurumu olacak olan Seyyahın Cemiyeti kuruldu. 1957 yılından sonra turizm bakanlık

seviyesinde yürütülmüştür.

Türkiye'ye gelen turist sayısı; 1950 yılında 30 bin, 1965'te 500 bin, 1985'te 2 milyon, 1990'da 5 milyon, 1997'de 10 milyon

olmuştur.
</p>

<h3> Doğal turizm kaynakları</h3>




   <p class="ecrit">Peribacaları: Kapadokya yöresindeki Ürgüp ve Göreme çevresinde oluşan peribacaları, kaya oyma kiliseler, yeraltı

şehirleriyle yoğun bir turizm alanıdır.Ürgüp, Göreme, Derinkuyu, Uçhisar, Ihlara, Avanos ve Kaymaklı yöredeki turistik

yerleşmelerdir[2]. Yöreyi yılda yaklaşık 3 milyon turist gezmektedir[3].
Travertenler: UNESCO Dünya Miras Listesi’nde bulunan Pamukkale Denizli ilinde yer almaktadır.Fay hattından gelen sıcak suların

taşıdığı kireçin çökelmesiyle oluşurlar.Travertenler, traverten havuzları, akan sıcak su görsel bir şölen sunar.Sularından


yararlanmak amacıyla antik zamanlarda travertenlerin üst tarafına Hierapolis şehri kurulmuştur.
Mağaralar: Özellikle karstik kayaçlardan oluşan Toros Dağları'nın batı ve orta bölümlerinde mağaralar gelişmiştir. Antalya


yakınlarında bulunan Karain Mağarası'nda Paleolitik çağa ait yerleşim izleri bulunur. Damlataş Mağarası Alanya şehir merkezinde


bulunur.Binlerce sarkıt, dikit duvarları süslemektedir.
Dağlar: Antalya’da Toros dağları, Rize’de Kaçkar Dağları, Bursa’da Uludağ, Kayseri’de Erciyes Dağı dağcıların ilgisini

çekmektedir.
Kış turizmi: Turizm faaliyetlerini yılın tamamına yaymak için kış turizmine önem vermeye başlamıştır.On yıl önce kış sezonunda

2,7 milyon turist ağırlanırken 2014'de bu rakam 4.8 milyona ulaşmıştır. 51 kayak tesisi ve 9.549 yatak kapasitesi bulunmaktadır.


Türkiye kayak tesisi açsından dünyada 18. sıradadır.Uludağ, Palandöken, Kartepe, Kartalkaya, Sarıkamış, Erciyes, Davraz Dağı


Türkiye'nin önemli kayak merkezleridir[4].
Kaplıcalar: Türkiye'de termal turizm özellikle iç turizm açısından önemlidir. 1300 termal, 2000'den fazla şifalı su kaynağına

sahip olan Türkiye bu açıdan dünya 5.sidir.Hitit'lerden itibaren Anadolu topraklarında kaplıcalardan yararlanılmaktadır.


Kestanbol kaplıcası, Hierapolis Roma döneminden, Yalova'daki Kurşunlu hamamı Bizans döneminden kalmadır[5]. Türkiye'de kaplıca


tesisinin açılması için, kaynak suyunun MTA tarafından hidrojeoloji analizi yapılması, Sağlık bakanlığı tarafından şifalı


olduğunun belirlenmesi gerekmektedir.Türkiye'de 46 ilde 190 kaplıca bulunur. Yerli termal turistlerin çoğunluğu Marmara (%43,8)


ve Ege (%26,6) bölgelerindendir. 2008 yılında Türkiye'ye 162.480 sağlık turisti gelmiş ve 282 milyon dolar harcama yapmıştır[6].
Yayla Turizmi: Deniz, kum, güneş üçgeninden çıkmak isteyen turistlerin ilgi duyduğu alternatif turizm türüdür.Özellikle Karadeniz

Dağları ve Toros Dağları yaylalarında gelişmeye başlamıştır. Kültür bakanlığı 26 yaylayı turizm merkezi ilan etmiştir.Giresun

Bektaş ve Kümbet, Ordu Çambaşı, Rize Anzer ve Ayder-Yukarı Kavran, Trabzon Erikbeli ve Şolma-Karadağ, Artvin Kaçkar, Bayburt Kop

Dağı, Gümüşhane Zigana yaylalarında çalışmalar başlamıştır
</p>



<h3>Kıyı Turizmi</h3>


<p class="ecrit">Kıyı turizmi, deniz, kumsal, güneş, manzara, biyolojik çeşitlilik(balina kuş mercan), deniz ürünlerini kapsar.

Kıyılarda oteller, kıyı düzenlemeleri, dalış sporları, kuş gözlemleri, bot gezileri, tıp hizmetleri, lokantalar ile

düzenlenmelidir.Avrupalı turistlerin %63'ü kıyıları tercih etmektedir.

Türkiye'de Batı Akdeniz ve Ege kıyılarında çoğunlukla yabancılara dönük turistik oteller yer alırken, Karadeniz ve Marmara

kıyılarında yerli turistlerin ikinci kontları bulunur.

Karadeniz kıyılarının iklimi kıyı turizmin gelişmesi için uygun değildir. Karadeniz'de; turizmi engelleyen yaz yağışları (batıda

1-2 gün, ortada 5-6 gün, doğuda 8-10 gün) bulunur, denize girme süresi 3 ay, günlük güneşlenme süresi 9-10 saat, bağıl nem %70'in

üzerindedir.Akdeniz ikliminin hakim olduğu Ege ve Akdeniz kıyılarında; denize girme süresi Mayıs-Kasım arasında 7 ay, günde 11-12

saat güneşlenme süresi, yaz kuraklığı ve nemlilik %70'in altındadır. Doğu Akdeniz kıyılarında yaz sıcakların aşırı bunaltıcı

olması turizmin gelişmesini engellemiştir[9].

Ege ve Akdeniz kıyılarında güneşlenme süresi, hava sıcaklığı, deniz suyu sıcaklığının yüksek olması, denize girme süresinin uzun

olmasına neden olmaktadır.Koy ve körfezlerin fazla yer tutması kıyı turizminin gelişmesine katkı sağlar.Bu kıyılarımızda büyük

oteller, tatil köyleri yapılmıştır.

Kıyı turizmi kriterlerinden biri de mavi bayrak sahibi olmaktır. Türkiye 2014 yılında en fazla mavi bayraklı sahile sahip 3. ülke

iken 2015 yılında 2.liğe çıkmıştır. İspanya 578 plaj ile 1., Türkiye 436 plaj ile 2., Yunanistan 395 plaj ile 3.dür
</p>
 }
}


                      
